<a href="https://colab.research.google.com/github/Bran04don/DataScience_Experimentation/blob/main/TheMovieDatabase_01_TopRated.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import requests

In [ ]:
id = "[api_key]"

In [ ]:
requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key="+id)

In [ ]:
response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key="+id)

In [ ]:
data = pd.DataFrame(response.json()['results'])

In [ ]:
data.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,69.679,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,1994-09-23,The Shawshank Redemption,False,8.7,21580
1,False,/90ez6ArvpO8bvpyIngBuwXOqJm5.jpg,"[35, 18, 10749]",19404,hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",22.605,/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,1995-10-20,Dilwale Dulhania Le Jayenge,False,8.7,3681
2,False,/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",65.651,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.7,16073
3,False,/loRmRzQXZeqG78TqZuyvSlEQfZb.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,48.289,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-11-30,Schindler's List,False,8.6,12846
4,False,/poec6RqOKY9iSiIUmfyfPfiLtvB.jpg,"[18, 80]",240,en,The Godfather: Part II,In the continuing saga of the Corleone crime f...,50.510,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather: Part II,False,8.6,9691

In [ ]:
data.tail()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
15,False,/l6hQWH9eDksNJNiXWYRkWqikOdu.jpg,"[14, 18, 80]",497,en,The Green Mile,A supernatural tale set on death row in a Sout...,63.465,/velWPhVMQeQKcxggNEU8YmIo52R.jpg,1999-12-10,The Green Mile,False,8.5,14012
16,False,/6fA9nie4ROlkyZAUlgKNjGNCbHG.jpg,"[18, 28, 80, 53]",155,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,79.673,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,2008-07-14,The Dark Knight,False,8.5,27697
17,False,/fQq1FWp1rC89xDrRMuyFJdFUdMd.jpg,"[10749, 35]",761053,en,Gabriel's Inferno: Part III,The final part of the film adaption of the ero...,31.540,/uqmTxOP3gNl5MWRt1wlrUnzTphM.jpg,2020-11-19,Gabriel's Inferno: Part III,False,8.5,965
18,False,/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg,"[53, 80]",680,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",64.766,/fIE3lAGcZDV1G6XM5KmuWnNsPp1.jpg,1994-09-10,Pulp Fiction,False,8.5,23269
19,False,/x4biAVdPVCghBlsVIzB6NmbghIz.jpg,[37],429,it,"Il buono, il brutto, il cattivo",While the Civil War rages between the Union an...,41.031,/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg,1966-12-23,"The Good, the Bad and the Ugly",False,8.5,6666

In [ ]:
data.describe()

                  id  popularity  vote_average   vote_count
count      20.000000   20.000000     20.000000     20.00000
mean   268817.950000   52.170100      8.545000   9157.90000
std    318729.652363   37.816833      0.075915   8440.89674
min       129.000000    9.242000      8.500000    230.00000
25%       361.250000   26.629500      8.500000   1301.75000
50%     10042.000000   49.399500      8.500000   7722.50000
75%    566949.750000   66.658000      8.600000  13871.75000
max    761053.000000  176.455000      8.700000  27697.00000